.square {
  width: 100px;
  height: 100px;
  background: red;
}
.circle {
  width: 100px;
  height: 100px;
  background: red;
  /* -moz-border-radius: 50px;
  -webkit-border-radius: 50px; */
  border-radius: 50px;
}
.oval {
  width: 200px;
  height: 100px;
  background: red;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
}
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}
.parallelogram {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  /* -moz-transform: skew(20deg); */
  /* -o-transform: skew(20deg); */
  background: red;
}
.trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
}

.star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
}
.star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(35deg);
  /* -ms-transform: rotate(35deg); */
  /* -o-transform: rotate(35deg); */
}
.star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  /* -moz-transform: rotate(-35deg); */
  /* -ms-transform: rotate(-35deg); */
  /* -o-transform: rotate(-35deg); */
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  /* -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg); */
  content: "";
}
.pentagon {
  margin-top: 100px;
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent red;
}

.hexagon {
  margin-top: 50px;
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}
.octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}

.octagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}

.octagon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}
.heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);

  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);

  transform-origin: 100% 100%;
}
.infinity {
  position: relative;
  width: 212px;
  height: 100px;
}

.infinity:before,
.infinity:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid red;
  border-radius: 50px 50px 0 50px;

  transform: rotate(-45deg);
}

.infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;

  transform: rotate(45deg);
}
.container {
  width: 800px;
  height: 600px;
  margin: auto;
  margin-top: calc(50vh - 300px);
  background-color: bisque;
  position: relative;
}
.d39 {
  position: relative;
  width: 3em;
  height: 3em;
  margin: 2em;
  background: #d5dee9;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6e839e;
  border-radius: 50% 50% 0 0;
}
.d39:before,
.d39:after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  background: inherit;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6e839e;
}
.d39:before {
  left: 80%;
  width: 60%;
  height: 60%;
  border-left: none;
  border-radius: 50% 50% 50% 0;
}
.d39:after {
  right: 80%;
  width: 80%;
  height: 80%;
  border-right: none;
  border-radius: 50% 50% 0;
}

.boat {
  border-top: 20px solid rgb(20, 41, 62);
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 0px 0px 50px 50px;
  height: 0;
  width: 600px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.boat::before {
  border-top: 20px solid red;
  border-left: 0px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 20px 0px 0px 0px;
  height: 0;
  width: 605px;
  position: absolute;
  content: "";
  bottom: 20px;

  /* left: 50px; */
}
.boat::after {
  border-top: 20px solid red;
  border-left: 0px solid transparent;
  transform: skew(-40deg);
  border-right: 4px solid transparent;
  border-radius: 0px 0px 0px 0px;
  height: 0;
  width: 577px;
  position: absolute;
  content: "";
  bottom: 40px;
  left: 23px;
  /* left: 50px; */
}
