.square {
  width: 100px;
  height: 100px;
  background: red;
}
.circle {
  width: 100px;
  height: 100px;
  background: red;
  /* -moz-border-radius: 50px;
  -webkit-border-radius: 50px; */
  border-radius: 50px;
}
.oval {
  width: 200px;
  height: 100px;
  background: red;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
}
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}
.parallelogram {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  /* -moz-transform: skew(20deg); */
  /* -o-transform: skew(20deg); */
  background: red;
}
.trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
}

.star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
}
.star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(35deg);
  /* -ms-transform: rotate(35deg); */
  /* -o-transform: rotate(35deg); */
}
.star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  /* -moz-transform: rotate(-35deg); */
  /* -ms-transform: rotate(-35deg); */
  /* -o-transform: rotate(-35deg); */
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  /* -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg); */
  content: "";
}
.pentagon {
  margin-top: 100px;
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent red;
}

.hexagon {
  margin-top: 50px;
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}
.octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}

.octagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}

.octagon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}
.heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);

  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);

  transform-origin: 100% 100%;
}
.infinity {
  position: relative;
  width: 212px;
  height: 100px;
}

.infinity:before,
.infinity:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid red;
  border-radius: 50px 50px 0 50px;

  transform: rotate(-45deg);
}

.infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;

  transform: rotate(45deg);
}
.container {
  width: 800px;
  height: 600px;
  margin: auto;
  /* margin-top: calc(50vh - 300px); */
  background-color: rgb(170, 232, 248);
  position: relative;
  z-index: -2;
}
.d39 {
  position: relative;
  width: 3em;
  height: 3em;
  margin: 2em;
  background: #d5dee9;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6e839e;
  border-radius: 50% 50% 0 0;
}
.d39:before,
.d39:after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  background: inherit;
  border-width: 0.25em;
  border-style: solid;
  border-color: #6e839e;
}
.d39:before {
  left: 80%;
  width: 60%;
  height: 60%;
  border-left: none;
  border-radius: 50% 50% 50% 0;
}
.d39:after {
  right: 80%;
  width: 80%;
  height: 80%;
  border-right: none;
  border-radius: 50% 50% 0;
}
.boatName {
  color: wheat;
  position: absolute;
  font-size: 12px;
  left: 600px;
  bottom: 140px;
  z-index: 100;
}
.boat {
  border-top: 20px solid #4f454d;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 0px 0px 50px 50px;
  height: 0;
  width: 600px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.boat::before {
  border-top: 20px solid #9a1121;
  border-left: 0px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 20px 0px 0px 0px;
  height: 0;
  width: 605px;
  position: absolute;
  content: "";
  bottom: 20px;
}
.boat::after {
  border-top: 15px solid #9a1121;
  border-left: 0px solid transparent;
  transform: skew(-40deg);
  border-right: 4px solid transparent;
  border-radius: 0px 0px 0px 0px;
  height: 0;
  width: 577px;
  position: absolute;
  content: "";
  bottom: 38px;
  left: 22px;
}
.boat2 {
  border-top: 15px solid #9a1121;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 0px 0px 0px 0px;
  height: 0;
  width: 589px;
  position: absolute;
  content: "";
  bottom: 90px;
  left: 70px;
}
.boat2::before {
  border-top: 20px solid #1d1c22;
  border-left: 0px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 0px 0px 0px 0px;

  height: 0;
  width: 591px;
  position: absolute;
  content: "";
  bottom: 14px;
  left: 0px;
}
.boat2::after {
  border-top: 20px solid #1d1c22;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 0px 0px 0px 30px;

  height: 0;
  width: 611px;
  position: absolute;
  content: "";
  bottom: 29px;
  left: -17px;
}
.boat3 {
  border-top: 20px solid #1d1c22;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 0px 0px 0px 30px;
  height: 0;
  width: 632px;
  position: absolute;
  content: "";
  bottom: 133px;
  left: 35px;
}
.boat3::before {
  border-top: 20px solid #1d1c22;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 0px 0px 0px 30px;
  height: 0;
  width: 655px;
  position: absolute;
  content: "";
  bottom: 8px;
  left: -22px;
}
.boat3::after {
  border-top: 35px solid #1d1c22;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  transform: skew(61deg);
  /* border-radius: 0px 0px 0px 00px; */
  height: 0;
  width: 150px;
  position: absolute;
  content: "";
  bottom: -26px;
  left: 23px;
}
.boat4 {
  border-bottom: 20px solid #000;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 80px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 161px;
  left: 13px;
}
.boat4::after {
  border-bottom: 18px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 78px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -19px;
  left: 1px;
}
.boat5 {
  border-bottom: 30px solid #000;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;

  width: 380px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 161px;
  left: 150px;
}

.boat5::before {
  border-bottom: 27px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;

  height: 0;
  width: 376px;
  height: 28px;
  position: absolute;
  content: "";
  bottom: -29px;
  left: 2px;
}
.boat6 {
  border-bottom: 20px solid #000;
  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(-4deg);
  height: 0;
  width: 80px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 161px;
  left: 587px;
}
.boat6::after {
  border-bottom: 18px solid #fdfdfd;
  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(2deg);
  height: 0;
  width: 78px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -20px;
  left: -4px;
}
.boat7 {
  border-bottom: 20px solid #000;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;

  width: 220px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 190px;
  left: 280px;
}

.boat7::before {
  border-bottom: 17px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 218px;
  height: 28px;
  position: absolute;
  content: "";
  bottom: -19px;
  left: 1px;
}
.boat8 {
  border-bottom: 20px solid #000;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;

  width: 60px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 190px;
  left: 200px;
}

.boat8::before {
  border-bottom: 17px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 58px;
  height: 28px;
  position: absolute;
  content: "";
  bottom: -19px;
  left: 2px;
}
.boat9 {
  width: 135px;
  height: 10px;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  background-color: #fdfdfd;
  position: absolute;
  bottom: 208px;
  left: 355px;
}

.boat9::before {
  width: 55px;
  height: 10px;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  background-color: #fdfdfd;
  position: absolute;
  bottom: -2px;
  left: -70px;
  content: "";
}
.pipe1 {
  border-bottom: 100px solid #000;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(10deg);
  width: 30px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 200px;
  left: 215px;
  z-index: -1;
}
.pipe1::after {
  border-bottom: 80px solid #f59234;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(0deg);
  width: 28px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -100px;
  left: 1px;
  z-index: -1;
}
.pipe2 {
  border-bottom: 100px solid #000;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(10deg);
  width: 30px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 200px;
  left: 295px;
  z-index: -1;
}
.pipe2::after {
  border-bottom: 80px solid #f59234;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(0deg);
  width: 28px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -100px;
  left: 1px;
  z-index: -1;
}
.pipe3 {
  border-bottom: 100px solid #000;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(10deg);
  width: 30px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 200px;
  left: 375px;
  z-index: -1;
}
.pipe3::after {
  border-bottom: 80px solid #f59234;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(0deg);
  width: 28px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -100px;
  left: 1px;
  z-index: -1;
}
.pipe4 {
  border-bottom: 100px solid #000;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(10deg);
  width: 30px;
  height: 0;
  position: absolute;
  content: "";
  bottom: 200px;
  left: 455px;
  z-index: -1;
}
.pipe4::after {
  border-bottom: 80px solid #f59234;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transform: skew(0deg);
  width: 28px;
  height: 0;
  position: absolute;
  content: "";
  bottom: -100px;
  left: 1px;
  z-index: -1;
}
.mast1 {
  position: absolute;
  border-bottom: 150px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: skew(5deg);
  height: 0;
  width: 3px;
  bottom: 190px;
  left: 160px;
}
.mast1::before {
  position: absolute;
  border-bottom: 148px solid #ba9771;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  content: "";
  height: 0;
  width: 1px;
  bottom: -149px;
  left: -1px;
}
.mast1_rope {
  position: absolute;
  height: 145px;
  background: #000;
  transform: skew(-42deg);

  width: 2px;
  bottom: 181px;
  left: 91px;
}
.mast1_rope::before {
  position: absolute;

  height: 117px;
  background: #000;
  transform: skew(51deg);

  content: "";
  width: 2px;
  bottom: 29px;
  left: 76px;
}
.mast2 {
  position: absolute;
  border-bottom: 150px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: skew(5deg);
  height: 0;
  width: 3px;
  bottom: 180px;
  left: 590px;
}
.mast2::before {
  position: absolute;
  border-bottom: 148px solid #ba9771;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  content: "";
  height: 0;
  width: 1px;
  bottom: -149px;
  left: -1px;
}
.mast2_rope {
  position: absolute;
  /* width: 100px; */
  height: 127px;
  background: #000;
  transform: skew(-33deg);

  width: 2px;
  bottom: 190px;
  left: 545px;
}
.mast2_rope::before {
  position: absolute;

  height: 136px;
  background: #000;
  transform: skew(49deg);

  content: "";
  width: 2px;
  bottom: -9px;
  left: 82px;
}
.mainIluminator {
  background-color: white;
  border-color: #000;
  /* position: relative; */
  position: absolute;
  bottom: 175px;
  left: 490px;
  border-style: solid;
  border-width: 1px;
  width: 40px;
  height: 5px;
  /* position: absolute; */
  border-radius: 2px;
}
.mainIluminator::before {
  background-color: white;
  border-color: #000;
  /* position: relative; */
  position: absolute;
  bottom: 21px;
  left: -27px;
  border-style: solid;
  border-width: 1px;
  width: 37px;
  height: 5px;
  /* position: absolute; */
  border-radius: 2px;
  content: "";
}

.illuminators {
  background-color: white;
  border-color: #000;
  /* position: relative; */
  position: absolute;
  bottom: 175px;
  left: 155px;
  display: flex;
  gap: 5px;
}
.illuminators_2 {
  background-color: white;
  border-color: #000;
  /* position: relative; */
  position: absolute;
  bottom: 197px;
  left: 285px;
  display: flex;
  gap: 5px;
}
.illuminator__item1 {
  /* border: 1px #000 solid; */
  border-style: solid;
  border-width: 1px;
  width: 5px;
  height: 5px;
  /* position: absolute; */
  border-radius: 2px;
}
.smallBoat1 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 205px;
  left: 204px;
}
.smallBoat1::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat2 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 205px;
  left: 233px;
}
.smallBoat2::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat3 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 291px;
}
.smallBoat3::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat4 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 318px;
}
.smallBoat4::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat5 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 360px;
}
.smallBoat5::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat6 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 395px;
}
.smallBoat6::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat7 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 430px;
}
.smallBoat7::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.smallBoat8 {
  border-top: 7px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  position: absolute;
  width: 15px;
  bottom: 216px;
  left: 465px;
}
.smallBoat8::before {
  border-top: 4px solid #fdfdfd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  position: absolute;
  width: 13px;
  bottom: 2px;
  left: -3px;
  content: "";
}
.sun {
  border-top: 40px solid #fdfdfd;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  /* border-right: none; */
  background: red;
  /* -moz-border-radius: 50px;
  -webkit-border-radius: 50px; */
  position: absolute;
  border-radius: 50px;
  /* right: -10px; */
  position: absolute;
  right: 0px;
  overflow: hidden;
}
